<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="StadiumConnection"
			 connectionString="Data Source=NGUYEN-HOANG-UY\SQLEXPRESS;Initial Catalog=StadiumTicketBooking;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>